extends ../layout

block content
  h1 #{title}  
  each item in movies
      .card(style='width: auto').bg-dark
      .card-body.bg-light
        .div
          h5.card-title=item.name
          h6.card-subtitle.mb-2.text-muted=item.theatre
        a.card-link(href="/movies/edit/"+item.movie_id,value=item) Edit
        a.card-link(href='/movies/delete/'+item.movie_id, value=item) Delete
      br


              
  
  